<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <p>グループ名</p>
        </div>
        <div class="col">
            <p>メンバー</p>
        </div>
        <div class="col">
            <p>グループ管理者</p>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <% if @group.group_image.attached? %>
                <%= image_tag @group.group_image, size:"50x50" %>
            <% else %>
                <%= image_tag "no_image", size:"50x50" %>
            <% end %>
        </div>
        <div class="col">
            <p><%= @group.name %></p>
        </div>
        <div class="col">
            <% @group.users.each do |member| %>
                <li>
                    <%= member.name %>
                </li>
            <% end %>
        </div>
        <div class="col">
            <p><%= @group.owner_id %></p>
        </div>
        <div class="col">
            <% if @group.owner_id == current_user.id %>
                <%= link_to "編集", edit_group_path %>
                <%= link_to "削除", group_path(@group), method: :delete %>
            <% end %>
        </div>
    </div>
    <%= form_with model: @calendar, url: group_calendars_path, method: :post do |f| %>
        <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div class="form-group">
            <%= f.label :body %>
            <%= f.text_area :body %>
        </div>
        <div class="form-group">
            <%= f.label :start_time %>
            <%= f.datetime_select :start_time %>
        </div>
        <%= f.hidden_field :group_id, value: @group.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="form-gorup">
            <%= f.submit "追加" %>
        </div>
    <% end %>
    <%= month_calendar events: @calendars do |date, events| %>  
        <%= date.day %>
                            
        <% events.each do |event| %>
            <%= link_to event.title,  group_calendar_path(event) %>
        <% end %>
    <% end %>
</div>