<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><%= @group.name %></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-right"><%= link_to "グループ申請確認", permits_group_path(@group), class: "btn btn-outline-success" %></p>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <p>グループ名</p>
        </div>
        <div class="col">
            <p>メンバー</p>
        </div>
        <div class="col">
            <p>グループ管理者</p>
        </div>
        <div class="col">
            <p>グループID</p>
        </div>
        <div class="col">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <% if @group.group_image.attached? %>
                <%= image_tag @group.group_image, size:"50x50" %>
            <% else %>
                <%= image_tag "no_image.jpg", size:"50x50" %>
            <% end %>
        </div>
        <div class="col">
            <p><%= @group.name %></p>
        </div>
        <div class="col">
            <% @group.group_users.each do |member| %>
                    <%= member.members(member.user_id) %>
            <% end %>
            <%= @group.owner(@group.owner_id) %>
        </div>
        <div class="col">
            <%= @group.owner(@group.owner_id) %>
        </div>
        <div class="col">
            <%= @group.id %>
        </div>
        <div class="col">
            <% if @group.owner_id == current_user.id %>
                <%= link_to "編集", edit_group_path, class: "btn btn-outline-success" %>
                <%= link_to "削除", group_path(@group), method: :delete, "date-confirm" => "本当にグループを削除しますか?", class: "btn btn-outline-success" %>
            <% end %>
        </div>
    </div>
    </br>
    <%= form_with model: @calendar, url: group_calendars_path, method: :post do |f| %>
        <% if @calendar.errors.any? %>
            <div class="row">
                <div class="col-md-12">
                    <h4>エラーが発生しました</h4>
                </div>
                <div class="col-md-12">
                    <ul>
                        <% @calendar.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        <% end %>
        <div class="form-group row">
            <%= f.label :title, "タイトル", class: "col-md-3" %>
            <div class="col-md-9">
                <%= f.text_field :title %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :body, "内容", class: "col-md-3" %>
            <div class="col-md-9">
                <%= f.text_area :body %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.hidden_field :group_id, value: @group.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.label :start_time, "予定日", class: "col-md-3" %>
            <div class="col-md-9">
                <%= f.datetime_select :start_time %>
            </div>      
        </div>
        <div class="form-group row">
            <%= f.label :image, "イメージ写真", class: "col-md-3" %>
            <div class="col-md-9">
                <%= f.file_field :image %>
                <%= f.submit "追加", class: "btn btn-outline-success" %>
            </div>
        </div>
    <% end %>
    <%= month_calendar events: @calendars do |date, events| %>  
        <%= date.day %>
                            
        <% events.each do |event| %>
            <%= link_to event.title,  group_calendar_path(event) %>
        <% end %>
    <% end %>
</div>