<div class="container">
    <div class="row">
        <div class="col">
            <h2>ユーザー検索</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= render "public/searches/search_user" %>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="col-1"></th>
                <th class="col-2">プロフィール画像</th>
                <th class="col-3">表示名</th>
                <th class="col-1">フォロー数</th>
                <th class="col-1">フォロワー数</th>
                <th class="col-4"></th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                    <td></td>
                    <td>
                        <% if user.profile_image.attached? %>
                            <%= image_tag user.profile_image, size: "120x120" %>
                        <% else %>
                            <%= image_tag "no_image.jpg", size: "120x120" %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to user_path(user) do %>
                            <%= user.handle %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to user.followings.count, user_followings_path(user)  %>
                    </td>
                    <td>
                        <%= link_to user.followers.count, user_followers_path(user) %>
                    </td>
                    <td>
                        <% if user != current_user %>		
                            <% if current_user.following?(user) %>
                                <%= link_to "フォロー解除", user_relationships_path(user), method: :delete, class: "btn btn-outline-success" %>
                            <% else %>
                                <%= link_to "フォロー" , user_relationships_path(user), method: :post, class: "btn btn-outline-success" %>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>