<div class="container">
    <div class="row">
        <div class="col">
            <p>タイトル</p>
        </div>
        <div class="col">
            <p><%= @calendar.title %></p>
        </div>
        <div class="col">
            <p>内容</p>
        </div>
        <div class="col">
            <p><%= @calendar.body %></p>
        </div>
        <div class="col">
            <p>日にち</p>
        </div>
        <div class="col">
            <p><%= @calendar.start_time.day %></p>
        </div>
        <div class="col">
            <p>時間</p>
        </div>
        <div class="col">
            <p><%= @calendar.start_time.strftime( "%H:%M" ) %></p>
        </div>
        <% if @calendar.group.owner_id == @calendar.user_id %>
            <div class="col">
                <%= link_to "編集", edit_group_calendar_path %>
            </div>
            <div class="col">
                <%= link_to "削除", group_calendar_path(@calendar), method: :delete %>
            </div>
        <% end %>
    </div>
    <% if @calendar.favorited_by?(current_user) %>
        <%= link_to group_calendar_favorites_path(@calendar), method: :delete do %>
            ♥<%= @calendar.favorites.count %>いいね
        <% end %>
    <% else %>
        <%= link_to group_calendar_favorites_path(@calendar), method: :post do %>
            ♡<%= @calendar.favorites.count %>いいね
        <% end %>
    <% end %>
    <% @calendar.comments.each do |comment| %>
        <%= comment.comment %>
        <% if comment.user_id == current_user.id %>
            <%= link_to "削除", group_calendar_comment_path(comment), method: :delete %>
        <% end %>
    <% end %>
    <%= form_with model: [@calendar, @comment] do |f| %>
        <%= f.label :comment %>
        <%= f.text_field :comment %>

        <%= f.submit "投稿" %>
    <% end %>
</div>