<div class="container">
    <div class="row" style="height: 90px;">
        <div class="col-12">
            <h2 style="line-height: 90px;">予定詳細</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
        </div>
        <% if @calendar.group.owner_id == @calendar.user_id %>
            <div class="dropdown col-12 col-md-6">
                <a class="btn btn-outline-success dropdown-toggle", role="button", data-bs-toggle="dropdown", aria-expanded="false">
                    menu
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to "編集", edit_group_calendar_path(@calendar), class: "dropdown-item" %></li>
                    <li><%= link_to "削除", group_calendar_path(@calendar), method: :delete, "date-confirm" => "本当にフォローを外しますか?", class: "dropdown-item" %></li>
                </ul>
            </div>
        <% end %>
    </div>
    </br>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <% if @calendar.image.attached? %>
                <%= image_tag @calendar.image, size: "300x120" %>
            <% else %>
                <%= image_tag "no_image.jpg", size: "120x120" %>
            <% end %>
        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <% @calendar.tags.each do |tag| %>
                <span class="label"><%= tag.name %></span>
            <% end %>
        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-3 col-lg-2">
            <p>タイトル</p>
        </div>
        <div class="col-md-7 col-lg-8">
            <p><%= @calendar.title %></p>
        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-3 col-lg-2">
            <p>内容</p>
        </div>
        <div class="col-md-7 col-lg-8">
            <p><%= @calendar.body %></p>
        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-3 col-lg-2">
            <p>日にち</p>
        </div>
        <div class="col-md-7 col-lg-8">
            <p><%= @calendar.start_time.day %>日</p>
        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-3 col-lg-2">
            <p>時間</p>
        </div>
        <div class="col-md-7 col-lg-8">
            <p><%= @calendar.start_time.strftime( "%H:%M" ) %></p>
        </div>

        <div class="col-md-2">
        </div>
        <div class="col-md-3 col-lg-2">
            <p>いいね数</p>
        </div>
        <div class="col-md-7 col-lg-8">
            <% if @calendar.favorited_by?(current_user) %>
                <%= link_to group_calendar_favorites_path(@calendar), method: :delete do %>
                    ♥<%= @calendar.favorites.count %>
                <% end %>
            <% else %>
                <%= link_to group_calendar_favorites_path(@calendar), method: :post do %>
                    ♡<%= @calendar.favorites.count %>
                <% end %>
            <% end %>
        </div>
    </div>
    
    <%= form_with model: [@calendar, @comment] do |f| %>
        <div class="form-group row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <%= f.text_field :comment, placeholder: "コメントを入力", size: "40x80" %>
                <%= f.submit "投稿", class: "btn btn-outline-success"%>
        
            </div>
        </div>
    <% end %>
    
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-4 col-md-2">
            <p>ユーザー名</p>
        </div>
        <div class="col-8 col-md-8">
            <p>コメント</p>
        </div>
    </div>
    <div class="row">
        <% @calendar.comments.each do |comment| %>
            <div class="col-md-2">
            </div>
            <div class="col-4 col-md-2">
                <h6><%= comment.user.handle %></h6>
            </div>
            <div class="col-8 col-md-3">
                <p><%= comment.comment %></p>
            </div>
            <div class="col-4 col-md-1">
            </div>
            <div class="col-8 col-md-4">
                <% if comment.user_id == current_user.id %>
                    <p><%= link_to "削除", group_calendar_comment_path(@calendar, comment), method: :delete, "date-confirm" => "本当に予定を削除しますか?", class: "btn btn-outline-success" %></p>
                <% end %>
            </div>
        <% end %>
    </div>
</div>