<div class="container">
    <div class="row">
        <div class="col">
            <h2>マイカレンダー</h2> 
        </div>
    </div>
    </br>
    <%= form_with model: @calendar, url: personal_calendars_path, method: :post do |f| %>
        <% if @calendar.errors.any? %>
            <h4>エラーが発生しました</h4>
            <ul>
                <% @calendar.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>

        <div class="form-group row">
            <%= f.label :title, "タイトル", class: "col-md-3" %>
            <div class="col-md-9">
                <%= f.text_field :title %>
            </div>
        </div>
        <div class="form-group row">
            <%= f.label :body, "内容", class: "col-md-3" %>
            <div class="col-md-9">
                <%= f.text_area :body %>
            </div>
        </div>
        <div class="form-gorup row">
            <%= f.label :start_time, "予定日", class: "col-md-3" %>
            <div class="col-md-9">
                <%= f.datetime_select :start_time %>
                <%= f.submit "作成", class: "btn btn-outline-success" %>
            </div>
        </div>
    <% end %>
    <%= month_calendar events: @calendars do |date, events| %>  
        <%= date.day %>
                            
        <% events.each do |event| %>
            <%= link_to event.title, personal_calendar_path(event) %>
        <% end %>
    <% end %>
</div>