<p>タイトル</p>
<%= @calendar.title %></br>

<p>詳細</p>
<%= @calendar.body %>

<p>日にち</p>
<%= @calendar.start_time.day %>日

<p>時間</p>
<%= @calendar.start_time.strftime( "%H:%M" ) %>

<%= link_to "編集", edit_personal_calendar_path(@calendar) %>

<%= link_to "削除", personal_calendar_path(@calendar), method: :delete,"date-confirm" => "本当に削除しますか？" %>