<div class="container">
    <div class="row">
        <div class="col">
            <h2>Group一覧</h2>
        </div>
    </div>
    <%= render "public/searches/search_group" %>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">グループ名</th>
                <th scope="col">メンバー数</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% @groups.each do |group| %>
                <tr>
                    <td>
                        <% if group.group_image.attached? %>
                            <%= image_tag group.group_image, size:"50x50" %>
                        <% else %>
                            <%= image_tag "no_image", size:"50x50" %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to admin_group_path(group) do %>
                            <%= group.name %>
                        <% end %>
                    </td>
                    <td>
                        <p><%= group.member_count(group.group_users.count)  %></p>
                    </td>
                    <td>
                        <%= link_to "削除", group_path(group), method: :delete %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>