<div class="container">
    <div class="row" style="height: 90px;">
        <div class="col-12">
            <h2 style="line-height: 90px;">予定詳細</h2>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-11">
            <% if @calendar.image.attached? %>
                <%= image_tag @calendar.image, size: "300x150" %>
            <% else %>
                <%= image_tag "no_image.jpg", size: "300x150" %>
            <% end %>
        </div>
        <div class="col-1">
        </div>
        <div class="col-11">
            <% @calendar.tags.each do |tag| %>
                <span class="label"><%= tag.name %></span>
            <% end %>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-3">
            <p>タイトル</p>
        </div>
        <div class="col-9">
            <p><%= @calendar.title %></p>
        </div>
        <div class="col-3">
            <p>内容</p>
        </div>
        <div class="col-9">
            <p><%= @calendar.body %></p>
        </div>
        <div class="col-3">
            <p>日にち</p>
        </div>
        <div class="col-9">
            <p><%= @calendar.start_time.day %></p>
        </div>
        <div class="col-3">
            <p>時間</p>
        </div>
        <div class="col-9">
            <p><%= @calendar.start_time.strftime( "%H:%M" ) %></p>
        </div>
        <div class="col-3">
            <p>いいね数</p>
        </div>
        <div class="col-4">
            <%= @calendar.favorites.count %>
        </div>
        <div class="col-5">
            <%= link_to "予定削除", admin_group_calendar_path(@calendar), method: :delete, class: "btn btn-outline-success" %>
        </div>
    </div>
    
    <div class="row">
        <% @calendar.comments.each do |comment| %>
            <div class="col-4 col-md-2">
                <h6><%= comment.user.name %></h6>
            </div>
            <div class="col-8 col-md-3">
                <p><%= comment.comment %></p>
            </div>
            <div class="col-4 col-md-1">
            </div>
            <div class="col-8 col-md-6">
                <%= link_to "削除", admin_group_calendar_comment_path(@calendar, comment), method: :delete, class: "btn btn-outline-success" %>
            </div>
        <% end %>
    </div>
</div>