<% if @user.profile_image.attached? %>
	<%= image_tag @user.profile_image, size: "40x40" %>
<% else %>
	<%= image_tag "no_image", size: "40x40" %>
<% end %>

<p>表示名</p>
<%= @user.handle %>

<p>フォロー数</p>
<%= link_to @user.followings.count, user_followings_path(@user) %>

<p>フォロワー数</p>
<%= link_to @user.followers.count, user_followers_path(@user) %>

</br>

<% if @user != current_user %>
	<% if current_user.following?(@user) %>
		<%= link_to "フォロー解除", user_relationships_path(@user), method: :delete %>
	<% else %>
		<%= link_to "フォロー" , user_relationships_path(@user), method: :post %>
	<% end %>
<% else %>
	<p>名前</p>
	<%= @user.name %>

	<p>メールアドレス</p>
	<%= @user.email %>
	
	</br>
	
	<%= link_to "編集", edit_user_path(@user) %>
	<%= link_to "退会", user_path(@user), method: :delete, "date-confirm" => "本当に退会しますか?" %>
<% end %>
