<div class="container">
	<div class="row" style="height: 90px;">
		<div class="col">
			<h2 style="line-height: 90px;"><%= @user.handle %>さんのプロフィール</h2>
		</div>
	</div>
	</br>
	<div class="row">
		<div class="col-0 col-md-2"> 
		</div>
		<div class="col-12 col-md-9">
			<div class="text-center text-md-left">
				<% if @user.profile_image.attached? %>
					<%= image_tag @user.profile_image, size: "120x120" %>
				<% else %>
					<%= image_tag "no_image.jpg", size: "120x120" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-0 col-md-3 col-lg-2">
		</div>
		<div class="col-12 col-md-3 col-lg-2">
			<p class="text-center text-md-left">表示名</p>	
		</div>
		<div class="col-12 col-md-4 col-lg-8">
			<p class="text-center text-md-left">
				<%= @user.handle %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-0 col-md-3 col-lg-2">
		</div>
		<div class="col-12 col-md-3 col-lg-2">
			<p class="text-center text-md-left">フォロー数</p>
		</div>
		<div class="col-12 col-md-4 col-lg-8">
			<p class="text-center text-md-left">
				<%= link_to @user.followings.count, user_followings_path(@user)  %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-0 col-md-3 col-lg-2">
		</div>
		<div class="col-12 col-md-3 col-lg-2">
			<p class="text-center text-md-left">フォロワー数</p>
		</div>
		<div class="col-12 col-md-4 col-lg-8">
			<p class="text-center text-md-left">
				<%= link_to @user.followers.count, user_followers_path(@user) %>
			</p>
		</div>

	</div>
	
	<% if @user != current_user %>		
		<div class="row">
			<% if current_user.following?(@user) %>
				<div class="col-0 col-md-3 col-lg-2">
				</div>
				<div class="col-12 col-md-9 col-lg-10">
					<%= link_to "フォロー解除", user_relationships_path(@user), method: :delete,"date-confirm" => "本当にフォローを外しますか?", class: "btn btn-outline-success" %>
				</div>
			<% else %>
				<div class="col-0 col-md-3 col-lg-2">
				</div>
				<div class="col-12 col-md-9 col-lg-10">
					<%= link_to "フォロー" , user_relationships_path(@user), method: :post, class: "btn btn-outline-success" %>
				</div>
			<% end %>
		</div>
	<% else %>
		<div class="row">
			<div class="col-0 col-md-3 col-lg-2">
			</div>
			<div class="col-12 col-md-3 col-lg-2">
				<p class="text-center text-md-left">名前</p>
			</div>
			<div class="col-12 col-md-4 col-lg-8">
				<p class="text-center text-md-left">
					<%= @user.name %>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-0 col-md-3 col-lg-2">
			</div>
			<div class="col-12 col-md-3 col-lg-2">
				<p class="text-center text-md-left">メールアドレス</p>
			</div>
			<div class="col-12 col-md-4 col-lg-8">
				<p class="text-center text-md-left">
					<%= @user.email %>
				</p>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col-0 col-md-3 col-lg-2">
			</div>
			<div class="col-12 col-md-2 col-lg-2">
				<%= link_to "編集", edit_user_path(@user), class: "btn btn-outline-success" %>
			</div>
			<div class="col-12 col-md-7 col-lg-8">
				<%= link_to "退会", user_path(@user), method: :delete, "date-confirm" => "本当に退会しますか?", class: "btn btn-outline-success" %>
			</div>
		</div>
	<% end %>
	</br>
	<% if current_user.followers?(@user) %>
		<table class="table">
			<thead>
				<tr>
					<th class="col-1"></th>
					<th class="col-2"></th>
					<th class="col-9">グループ名</th>
				</tr>
			</thead>
			<tbody>
				<% @user.groups.each do |group| %>
					<tr>
						<td></td>
						<td>
							<% if group.group_image.attached? %>
								<%= image_tag group.group_image, size:"50x50" %>
							<% else %>
								<%= image_tag "no_image.jpg", size:"50x50" %>
							<% end %>
						</td>
						<td>
							<%= group.name %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>